body {
background-color: #cfdfef;
/*color:#0f0;*/


}

pre {
    color: #5A5;
    border: 2px dashed #aaa;
    padding:10px;
    background-color: #fff;
}

a:hover{
  color:#0CF;
  /*text-decoration: underline;*/
}
.nav_pad{
  padding-top:40px;
}
.section{
  padding-bottom:40px;
}
ul.disc{
  list-style: disc;
  margin-left: 15px
}

.duedate{
  color: #f09;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    padding-right:10px;
}
 

.statement_text {

    background-color: #eee;
    padding: 8px;
    margin-top: 20px;
    border: 1px dashed black;
}

.doc_text {

    background-color: #ffe;
    padding: 8px;
    margin-top: 20px;
    border: 1px dashed black;
}

.warn_text {

    background-color: #f77;
    padding: 8px;
    margin-top: 20px;
    border: 1px dashed black;
}